<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ex02</title>
<link rel="stylesheet" th:href="@{/ex-02.css}">
</head>
<body>

<h1>ホテル検索</h1>

<form th:action="@{/ex02/search}" method="post">
<input type="number" name="price" id="price"> 円以下<br>
<button>検索</button>
</form>
<br>
<div th:each="hotel:${hotelList}">
<table border=1>
<tr class="odd">
<th>ホテル名</th><td th:text="${hotel.hotelName}"></td> 
</tr>
<tr class="even">
<th>最寄駅</th><td th:text="${hotel.nearestStation}"></td> 
</tr>
<tr class="odd">
<th>価格</th><td th:text="${hotel.price}"></td> 
</tr>
</table>
<br>
</div>
</body>
</html>